/* the css for the about page of the portfolio  website for this purpose */
.about-container {
  /* border: 2px solid white; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 85%;
  margin: auto;
  /* padding: 10px; */
  background-color: rgba(39, 38, 38, 0.871);
  margin-top: 10%;
  margin-bottom: 10%;
  /* box-shadow: 6px 12px 12px white; */
  /* background-color: red; */
}

.about-container h1 {
  text-align: center;
  color: white;
  background-color: rgba(39, 38, 38, 0.871);
  padding: 5%;
  font-weight: lighter;
}
.about-container h1,
.about-content h2,
.about-content p {
  background-color: rgba(39, 38, 38, 0.871);
}

.about-content {
  /* border: 2px solid red; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 38, 38, 0.871);
  padding: 5%;
}

.about-content img {
  height: 50%;
  width: 60%;
  box-shadow: 6px 12px 12px white;
}
.main-content {
  /* padding: 10%; */
  /* width: 90%; */
  margin-left: 5%;
  background-color: rgba(39, 38, 38, 0.871);
}

#about-tagline {
  background-color: rgba(39, 38, 38, 0.871);
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8%;
}

#about-intro {
  background-color: rgba(39, 38, 38, 0.871);
  font-weight: bold;
  display: block;
  margin-bottom: 5%;
}

#about-detailed-intro {
  background-color: rgba(39, 38, 38, 0.871);
  display: block;
}

/* adding the css for the button of the resume  */
.resume-button {
  border: 1px solid white;
  text-decoration: none;
  background-color: white;
  padding: 1%;
  color: white;
  font-size: 1.2rem;
  margin-top: 5%;
  width: 25%;
  background-color: rgb(27, 101, 240);
}

.resume-button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

/* adding the css for the about section of the website  */
@media only screen and (max-width: 1100px) {
  .about-container {
    width: 95%;
  }
  .about-content img {
    width: 45%;
    /* height: 300px; */
  }
  .main-content a {
    /* width: 500px; */
  }
  .resume-button {
    /* padding: ; */
    width: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-content img {
    margin-bottom: 5%;
  }

  .about-content p {
    text-align: center;
  }
}
