/* this is the css for the home cnsists of the navbar as well  */
.navigation {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 00px;
  left: 00px;
  right: 00px;
  z-index: 100;
}

.navigation h1 {
  color: white;
}

.navbar {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}

.navbar li {
  list-style: none;
  padding: 10px;
  margin-right: 30px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
  /* padding: 00px 40px; */
}

.navbar li a:hover {
  color: red;
  font-weight: light;
}

/* ##################################################################################################################### CSS FOR THE HOME CONTAINER ##########################
###################################################################################### */

.home-container {
  /* border: 2px solid white; */
  color: white;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  /* border: 2px solid red; */
  text-align: center;
  margin: 20px 00px;
  font-size: 4rem;
}

.home-container h3 {
  /* border: 2px solid yellow; */
  text-align: center;
}

.home-container p {
  /* border: 2px solid red; */
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
}
