/* this is the css for the skills section of the portfolio website  */
.skill {
  /* border: 2px solid white; */
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}

.skill-container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  padding: 1%;
}

.particular-skill {
  /* border: 1px solid yellow; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  /* height: 30%; */
}

.skill-bar {
  border: 1px solid grey;
  width: 70%;
  font-weight: light;
  font-size: 0.6rem;
  /* border-radius: 5%; */
  /* height: 10px; */
  background-color: rgb(196, 194, 194);
  position: relative;
}

.skill-bar p {
  text-align: right;
  font-weight: bold;
  /* z-index: 10; */
  color: white;
}
/* adding the pseudo selectors for this purpose  */
#html::before {
  content: "";
  /* text-align: right; */
  color: red;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 85%;
  height: 100%;
  background-color: #ff0000;
  /* border-radius: 5%; */
  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

#css::before {
  content: "";
  color: black;
  text-align: right;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 50%;
  height: 100%;
  background-color: #00ff00;
  /* border-radius: 5%; */

  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

#js::before {
  content: "";
  color: red;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 60%;
  height: 100%;
  background-color: #0000ff;
  /* border-radius: 5%; */

  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

#nodejs::before {
  content: "";
  color: red;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 60%;
  height: 100%;
  background-color: #ff00ff;
  /* border-radius: 5%; */

  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

#reactjs::before {
  content: "";
  /* text-align: right; */
  color: red;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 50%;
  height: 100%;
  background-color: white;
  /* border-radius: 5%; */
  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

#mongodb::before {
  content: "";
  /* text-align: right; */
  color: red;
  font-weight: bold;
  left: 00px;
  top: 00px;
  right: 00px;
  width: 50%;
  height: 100%;
  background-color: brown;
  /* border-radius: 5%; */
  /* border: 4px solid yellow; */
  /* width: 90%; */
  z-index: 1;
  position: absolute;
  /* position: relative; */
}

/* .particular-skill h2 {
  color: white;
} */
.particular-skill h2 {
  font-weight: light;
  font-size: 1.2rem;
}

#skill-heading {
  /* border: 2px solid white; */
  color: white;
  text-align: center;
}

/* adding the media query for making the website for the responsive design  */
@media only screen and (max-width: 1200px) {
  .particular-skill {
    flex-direction: column;
  }
}

@media only screen and (max-width: 750px) {
  .skill-bar p {
    /* display: none; */
    /* width: 100%; */
  }
  .particular-skill {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .particular-skill {
    width: 100%;
    margin-bottom: 10%;
  }
}
