/* this is the css for the work section  */

#work-heading {
  color: white;
  text-align: center;
  padding: 2%;
  background-color: rgba(39, 38, 38, 0.871);
}

.work-container {
  /* border: 2px solid white; */
  width: 85%;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 15%;
  background-color: rgba(39, 38, 38, 0.871);
}

.works {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  background-color: rgba(39, 38, 38, 0.871);
}

.work-contents {
  /* border: 2px solid white; */
  width: 30%;
  /* padding: 2%; */
  background-color: rgba(39, 38, 38, 0.871);
  box-shadow: 2px 8px 15px white;
}

.work-contents img {
  height: 50%;
  width: 100%;
}

.work-contents h2 {
  color: white;
  /* margin-left: 2px; */
  /* padding: 10px; */
  text-align: center;
}

.work-contents p {
  color: white;
  /* color: blue; */
  text-align: center;
}

.works a {
  text-decoration: none;
}
